{% extends "layouts.html"%}

{% block content %}
<div class="container">
    {%from "_formularioajuda.html" import render_field %}
<div class="text-center h1 text-success"> Página de Registros</div>

    <form action="" method="post" enctype="multipart/form-data">
        <div>
            {{render_field(form.nome, class="form-control")}}
            {{render_field(form.username ,class="form-control")}}
            {{render_field(form.email, class="form-control")}}
            {{render_field(form.senha, class="form-control")}}
            {{render_field(form.confirmacao, class="form-control")}}
            <input type="file" name="Foto">
        </div>
        <p><input type="submit" value="Registrar" class="btn btn-success mt-2"></p>
        
        {%include '_messages.html'%}
    </form>

</div>

{% endblock %}